.footer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

@media only screen
and (max-device-width: 812px)
and (orientation : landscape) {
  .footer {
    display: none;
  }
}
