.received-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.received-panel .received-panel-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.received-panel .received-panel-wrapper .received-item {
  padding: 15px 0;
}

.received-panel .received-panel-wrapper .received-item .file-size-label {
  font-size: 10px;
  cursor: default;
  display: inline-block;
}

.received-panel .received-panel-wrapper .received-item .item-name {
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
  font-weight: 500;
}

.received-panel .received-panel-wrapper .received-item .item-from {
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
}

.received-panel .received-panel-wrapper .received-item .ant-list-item-action {
  margin-top: -5px;
}