.text-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.text-panel .text-panel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.text-panel .text-panel-wrapper .inputs-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-panel .text-panel-wrapper .inputs-container .input-textarea {
  flex: 1;
  resize: none;
  margin-bottom: 15px;
}

.text-panel .text-panel-wrapper .inputs-container .input-recipient-id .ant-input-suffix {
  color: #ccc;
}