.header {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.header .left-section {
  margin-top: 5px;
}

.header .left-section .logo-link-wrapper {
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65)
}

.header .left-section .app-name-label {
  margin-left: 5px;
  font-weight: 500;
}

.header .right-section {
  text-align: right;
  padding-right: 50px;
}

.header .right-section .menu-item {
  display: inline-block;
  margin: 0 5px;
}

.header .right-section .menu-item .menu-item-btn {
  font-size: 12px;
  border: none;
  box-shadow: none;
  padding: 0 10px;
}

.header .right-section .menu-item-github-link {
  font-size: 12px;
  border: none;
  box-shadow: none;
  padding: 0 15px !important;
}

.header .right-section .menu-item-feedback {
  font-size: 12px;
  border: none;
  box-shadow: none;
  padding: 0 15px !important;
}

@media only screen
and (max-device-width: 812px) {
  .header .right-section {
    padding-right: 0px;
  }

  .header .right-section .menu-item .menu-item-btn {
    padding: 0 5px;
  }

  .header .right-section .menu-item-github-link {
    padding: 0 10px !important;
  }

  .header .right-section .menu-item-feedback {
    padding: 0 10px !important;
  }
}

@media only screen
and (max-device-width: 812px)
and (orientation : landscape) {
  .header {
    display: none;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .header .right-section {
    padding-right: 40px;
  }
}