.file-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.file-panel .file-panel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.file-panel .file-panel-wrapper .inputs-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
}

.file-panel .file-panel-wrapper .inputs-container .file-dragger-container {
  flex: 1;
  overflow: scroll;
  margin-bottom: 30px;
}

.file-panel .file-panel-wrapper .inputs-container .send-as-zip-checkbox-container {
  text-align: right;
  margin: 0 0 10px 0;
}

.file-panel .file-panel-wrapper .inputs-container .input-recipient-id-container .input-recipient-id .ant-input-suffix {
  color: #ccc;
}

.file-panel .file-panel-wrapper .share-actions {
  margin-top: 40px;
}

@media only screen
and (max-device-width: 812px) {
  .file-panel .file-panel-wrapper .inputs-container .file-dragger-container .file-dragger-wrapper .ant-upload-drag-icon {
    display: block;
  }

  .file-panel .file-panel-wrapper .inputs-container .file-dragger-container .file-dragger-wrapper .ant-upload-hint {
    display: block;
  }

  .file-panel .file-panel-wrapper .share-actions {
    margin-top: 40px;
  }
}

@media only screen
and (max-device-width: 812px)
and (orientation : landscape) {
  .file-panel .file-panel-wrapper .inputs-container .file-dragger-container .file-dragger-wrapper .ant-upload-drag-icon {
    display: none;
  }

  .file-panel .file-panel-wrapper .inputs-container .file-dragger-container .file-dragger-wrapper .ant-upload-hint {
    display: none;
  }

  .file-panel .file-panel-wrapper .share-actions {
    margin-top: 15px;
  }
}